:root {
    --sidebar-bg: #6e222e;
    --sidebar-hover: #5c1b24;
    --sidebar-active: #631825;
    --sidebar-width: 80px;
    --sidebar-expanded-width: 200px;
    --text-color: #ffffff;
    --icon-size: 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tools {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 0;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the menu items */
    align-items: center;
    gap: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}


.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 90%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 40px;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: var(--sidebar-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.menu-link img {
    width: var(--icon-size);
    height: var(--icon-size);
    transition: transform 0.2s ease;
}

.menu-item:hover img {
    transform: scale(1.1);
}

.logo {
    width: 50px;
    height: 50px;
}

.spacer {
    display: none;
}

.logout {
    margin-bottom: 10px;
}